.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;

	.editButton {
		padding: 10px 20px;
		border: 1px solid #000;
		border-radius: 5px;
		cursor: pointer;
		background-color: #f74f4f;
		&:hover {
			background-color: #ff0000;
		}
	}
}