.modalBackground{
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.3);

	&.isClosed {
		display: none;
	}

	.modalWindow {
		display: flex;
		position: relative;
		flex-direction: column;
		min-width: 300px;
		min-height: 200px;
		padding: 20px;
		border: 3px solid #000;
		background-color: #fff;
		border-radius: 20px;

		.modalTitle {
			margin: 0 0 16px 0;
			font-size: 1.25rem;
		}

		.escapeButton {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -10px;
			right: -10px;
			width: 30px;
			height: 30px;
			border-radius: 50px;
			background-color: #f74f4f;
			color: #fff;
			&:hover{
				background-color: #ff0000;
			}
		}
	}
}