.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;

	.addUserButton {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 20px;
		cursor: pointer;
		border: 1px solid #000;
		border-radius: 5px;
		background-color: #f74f4f;
		&:hover {
			background-color: #ff0000;
		}
		&:disabled {
			cursor: not-allowed;
			background-color: #ccc;
		}
	}

	.usersContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 64px;

		.userItem{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 300px;
			height: 200px;
			border: 1px solid #000;
			border-radius: 20px;

		}
	}

	.inputContainer {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.inputWrapper{
			display: flex;
			flex-direction: column;
		}

		.error {
			color: red;
			font-size: 12px;
		}

		.input {
			padding: 10px;
			border: 1px solid #000;
			border-radius: 5px;
			font-size: 16px;

			&:focus {
				outline: none;
				border-color: #0070f3;
			}
		}
	}
}