.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.timer{
		font-size: 24px;
		font-weight: bold;
		color: #000;
		border: 1px solid #000;
		border-radius: 5px;
		padding: 10px;
		margin-top: 20px;
	}

	.buttonsLine{
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		margin-top: 20px;

		.button{
			padding: 10px 20px;
			border: 1px solid #000;
			border-radius: 5px;
			cursor: pointer;
			background-color: #f74f4f;
			&:hover {
				background-color: #ff0000;
			}
		}
	}
}